.gr-table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  text-align: right;
}
.gr-table tr {
  border-top: 1px solid rgba(0, 0, 0, .12);
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.gr-table tbody tr:hover {
  background-color: #eee;
}
.gr-table th, .gr-table tbody td {
  padding: 12px 18px;
  overflow: hidden;
}
.gr-table th {
  color: rgba(0, 0, 0, .54);
}
.gr-table tfoot td {
  padding: 24px 18px;
  overflow: hidden;
}
.gr-table .gr-total {
  font-weight: 700;
}
.gr-table tbody .gr-total {
  cursor: pointer;
}
.gr-table .gr-no-numeric {
  text-align: left;
}
