.gtable {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  text-align: right;
}
.gtable tr {
  border-top: 1px solid rgba(0, 0, 0, .12);
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.gtable tbody tr:hover {
  background-color: #eee;
}
.gtable th, .gtable tbody td {
  padding: 12px 18px;
  overflow: hidden;
}
.gtable th {
  color: rgba(0, 0, 0, .54);
}
.gtable tfoot td {
  padding: 24px 18px;
  overflow: hidden;
}
.gtable .total {
  font-weight: 700;
}
.gtable tbody .total {
  cursor: pointer;
}
.gtable .no-numeric {
  text-align: left;
}
